@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
/* 
font-family: 'Lato', sans-serif; */
:root{
    --color-1:#26619c;
    --color-2:#32abe2;
    --color-3:#37c2ed;
    --color-off-white:#faf6f1;
}

*{
    margin:0;
}

body{
    background-color: var(--color-off-white);
}


.app{
    align-items: center;
    font-family: 'Lato', sans-serif;
    
}






